<%= form_for @user, :html => { class: "form-horizontal col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" }, url: settings_path, method: :patch do |f| %>
	<fieldset>
		<div class="form-group">
	    <label class="col-sm-3 control-label">Name</label>
	    <div class="col-sm-9">
	      <p class="form-control-static"><%= @user.fname %> <%= @user.lname %></p>
	    </div>
		</div>
		<div class="form-group">
	    <label class="col-sm-3 control-label">Student ID</label>
	    <div class="col-sm-9">
	      <p class="form-control-static">1234567</p>
	    </div>
	  </div>
  </fieldset>
	<fieldset>
		<div class="form-group">
		  <%= f.label :email, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.email_field :email, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
		  <%= f.label :username, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :username, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">Password</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password" placeholder="password"/>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="form-group">
			<label for="major" class="col-sm-3 control-label">Major</label>
			<div class="col-sm-9">
				<label class="radio-inline">
				  <input type="radio" name="major" id="majorCS" value="option1"> CS
				</label>
				<label class="radio-inline">
				  <input type="radio" name="major" id="majorIS" value="option2"> IS
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="text" class="col-sm-3 control-label">Concentration</label>
			<div class="col-sm-9">
				<select class="form-control" name="concentration" id="concentration">
				  <option>concentration 1</option>
				  <option>concentration 2</option>
				  <option>concentration 3</option>
				  <option>concentration 4</option>
				  <option>concentration 5</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="text" class="col-sm-3 control-label">Advisor</label>
			<div class="col-sm-9">
				<select class="form-control" name="concentration" id="concentration">
				  <option>advisor 1</option>
				  <option>advisor 2</option>
				  <option>advisor 3</option>
				  <option>advisor 4</option>
				  <option>advisor 5</option>
				</select>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<%= f.submit "update", class: "btn btn-sm btn-primary form-control" %>
		</div>
	</div>
<% end %>