<%= form_for @user, :html => { class: "form-horizontal col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" }, url: settings_path, method: :patch do |f| %>
	<fieldset>
		<div class="form-group">
		  <%= f.label :fname, "First Name", class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :fname, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
		  <%= f.label :lname, "Last Name", class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :lname, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
		  <%= f.label :id, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :id, class: "form-control" %>
			</div>
		</div>
  </fieldset>
	<fieldset>
		<div class="form-group">
		  <%= f.label :email, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.email_field :email, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
		  <%= f.label :username, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :username, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :password, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.password_field :password, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<div class="form-group">
			<%= f.label :account_type, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<div class="btn-group" data-toggle="buttons">
				  <label class="btn btn-primary active">
				    <input type="radio" name="account_type" id="option1" autocomplete="off" value="Student" checked>Student
				  </label>
				  <label class="btn btn-primary">
				    <input type="radio" name="account_type" id="option2" value="Faculty" autocomplete="off">Faculty
				  </label>
				</div>
			</div>
		</div>
	</fieldset>
	
	<fieldset class="studentFields">
		<div class="form-group">
			<label for="major" class="col-sm-3 control-label">Major</label>
			<div class="col-sm-9">
				<div class="btn-group" data-toggle="buttons">
				  <label class="btn btn-primary active">
				    <input type="radio" name="major" id="CS" autocomplete="off" value="CS" checked>CS
				  </label>
				  <label class="btn btn-primary">
				    <input type="radio" name="major" id="IS" value="IS" autocomplete="off">IS
				  </label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="text" class="col-sm-3 control-label">Concentration</label>
			<div class="col-sm-9">
				<select class="form-control" name="concentration" id="concentration">
				  <option>concentration 1</option>
				  <option>concentration 2</option>
				  <option>concentration 3</option>
				  <option>concentration 4</option>
				  <option>concentration 5</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="text" class="col-sm-3 control-label">Advisor</label>
			<div class="col-sm-9">
				<select class="form-control" name="concentration" id="concentration">
				  <option>advisor 1</option>
				  <option>advisor 2</option>
				  <option>advisor 3</option>
				  <option>advisor 4</option>
				  <option>advisor 5</option>
				</select>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<%= f.submit "submit", class: "btn btn-sm btn-primary form-control" %>
		</div>
	</div>
<% end %>

<script>
	$("input[name=account_type]").change(function() {
		// let accountType = $("[name=account_type]:checked").val();
		$('.studentFields').toggle();
	});
</script>