<div class="row">
	<h2 class="col-xs-8 m-0"><%= @user.fname + ' ' + @user.lname %></h2>
	<% if current_user.admin? %>
	<div class="col-xs-4 text-right">
		<%= link_to 'edit', @user.student? ? edit_student_path(@user.id) : edit_faculty_path(@user.id), class: "btn btn-sm btn-success" %>
		<%= link_to 'delete', user_path(@user.id), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %>
	</div>
	<% end %>
</div>


<p class="small text-muted"><%= @user.id %></p>

<div>
	<p><strong>Account type:</strong> <%= @user.account_type %></p>
	<p><strong>Email:</strong> <%= @user.email %></p>
	<p><strong>Username:</strong> <%= @user.username %></p>

<% if @user.student? %>
	<p><strong>Degree:</strong> <%= @user.student.degree.name %></p>
	<p><strong>Advisor:</strong> <%= User.find(@user.student.advisor_id).fname + ' ' +  User.find(@user.student.advisor_id).lname %></p>
</div>
<div>
	<%= link_to 'Course History', student_course_history_path(@user.id), class: 'btn btn-primary' %>
	<%= link_to 'Reports', student_reports_path(@user.id), class: 'btn btn-primary' %>
<% end %>
</div>