<%= form_for @course, :html => { multipart: true, class: "form-horizontal col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" }, url: course_path(@course), method: :patch do |f| %>
	<fieldset>
		<div class="form-group">
		  <%= f.label :num, "Course number", class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :num, class: "form-control" %>
			</div>
		</div>
		<div class="form-group">
		  <%= f.label :name, "Name", class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_field :name, class: "form-control" %>
			</div>
		</div>
  </fieldset>
	<fieldset>
		<div class="form-group">
		  <%= f.label :description, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.text_area :description, class: "form-control" %>
			</div>
		</div>
	</fieldset>
	
  <!-- <fieldset>
		<legend><%= f.label "Course days:" %></legend>
		<% CourseDay.all.each do |d| %>
      <div class="inlineblock checkbox_cols">
				<%= f.check_box d.id, {checked: @course.dates.include?(d.id) } %>
				<%= f.label d.day_type, for: "dates_#{d.id}" %>
			</div>
		<% end %>
  </fieldset>
  <fieldset>
		<legend><%= f.label "Course times:" %></legend>
		<% CourseTime.all.each do |t| %>
      <div class="inlineblock checkbox_cols">
				<%= f.check_box t.id, {checked: @course.times.include?(t.id) } %>
				<%= f.label t.time_type, for: "times_#{t.id}" %>
			</div>
		<% end %>
  </fieldset> -->
	
	
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<%= f.submit "submit", class: "btn btn-sm btn-primary form-control" %>
		</div>
	</div>
<% end %>