<table class="table table-bordered">
	<tr>
		<th>Num</th>
		<th>Name</th>
	</tr>
<% @courses.each do |c| %>
	<tr>
		<td><%= c.num %></td>
		<td>
			<%= link_to c.name, course_path(c.num) %>
			<div class="pull-right">
				<%= link_to 'edit', edit_course_path(c.id), class: "btn btn-xs btn-success" %>
				<%= link_to 'delete', course_path(c.id), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-xs btn-danger" %>
			</div>
		</td>
	</tr>
<% end %>
</table>

<div class="pagination_div"><%= will_paginate @courses %></div>