<div class="container row mb-1">
	<h2 class="pull-left m-0">Reports</h2>
	<%= link_to "<button type='button' class='btn btn-sm btn-success pull-right'>
		<span class='glyphicon glyphicon-plus'></span> new report
	</button>".html_safe, new_report_path, method: "get" %>
</div>

<% @reports.each do |r| %>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="report1Heading">
      <h4 class="panel-title">
          <%= r.created_at.strftime("%B %d/%Y") %>
					<%= link_to 'delete', report_path(r.id), method: :delete, data: { confirm: "You sure?" }, class: "pull-right btn btn-xs btn-danger white" %>
      </h4>
    </div>
		<div class="m-05">
			<div class="pill"><%= r.degree.name %></div>
			<div class="pill"><%= r.courses_per_quarter %> classes per quarter</div>
			<div class="pill">both</div>
		</div>
		<%= link_to "view full report", show_report_path(r.id),   class: "panel-footer" %>
	</div>
</div>
<% end %>