<div class="container row">
	<h2 class="pull-left m-0">Report 1</h2>
	<%= link_to "<button type='button' class='btn btn-sm btn-success pull-right'>
		<span class='glyphicon glyphicon-plus'></span> new report
	</button>".html_safe, new_report_path, method: "get" %>
</div>
<div class="container row">
	<div class="pill"><%= @params.degree.name %></div>
	<div class="pill"><%= @params.courses_per_quarter %> classes per quarter</div>
	<div class="pill">both</div>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>course name</th>
			<!-- <th>domain</th> -->
		</tr>
	</thead>
	<tbody>
		<% @classes.each_with_index do |q, i| %>
	    <tr>
	      <th colspan="2">
					Quarter <%= i+1 %>
				</th>
			</tr>
			<% q.each do |c| %>
			  <tr data-toggle="modal" data-target="#<%= c.num %>">
					<th scope="row"><%= c.num %></th>
					<td><%= c.name %></td>
					<!-- <td>foundation</td> -->
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<!-- Modals -->
<% @classes.each do |q| %>
<% q.each do |c| %>
	<div class="modal fade" id="<%= c.num %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><%= c.num %> - <%= c.name %></h4>
	      </div>
	      <div class="modal-body">
	        <p><%= c.description%> PREREQUISITE(S): <%= c.prerequisites.join(', ') %></p>
					<!-- <b>Typically offered:</b> Autumn/Winter/Spring Terms -->
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>
<% end %>